.header{
    justify-content: space-between;
    align-items: center;
}

.flex{
    display: flex;
}

.heading{
    font-weight: 700;
}

.mode{
    gap: 1rem;
    cursor: pointer;
}

.modeName{
    font-size: 1.3rem;
    color: var(--color-light-medium-grey);
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 700;
}