@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --color-blue: #a729f5;
  --color-dark-grey: #313e51;
  --color-medium-grey: #3b4d66;
  --color-light-grey: #626c7f;
  --color-very-light-grey: #abc1e1;
  --color-mostly-white: #f4f6fa;
  --color-white: #ffffff;
  --color-green: #26d782;
  --color-red: #ee5454;
  --color-background: #f4f6fa;
  --color-light-brown: #fff1e9;
  --color-light-green: #e0fdef;
  --color-light-blue: #ebf0ff;
  --color-light-purple: #f7e7ff;
}

html {
  background-color: var(--color-background);
  /* background-color: red; */
  background-image: url("../public/assets/images/pattern-background-desktop-light.svg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Rubik", sans-serif;
}
.app {
  padding: 9.7rem 14rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
  gap: 10rem;
}

.mode {
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: end;
  align-self: self-start;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.mode-wrapper {
  height: 2.8rem;
  width: 4.8rem;
  background-color: var(--color-blue);
  border-radius: 2rem;
  position: relative;
}

.mode-ball {
  background-color: var(--color-white);
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  position: absolute;
  top: 0.3rem;
  left: 0.5rem;
}

.main {
  grid-row: 2/3;
  grid-column: 1/-1;
}
